<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>slack</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4AE536BC-8D80-4362-B0E9-1B4ED487859B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>31838B4E-9584-4A61-8BD9-6191F02E1358</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Yannick Galatol</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Slack</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>$query = "{query}";
$position = 'output';
require_once 'slack.php';</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>4AE536BC-8D80-4362-B0E9-1B4ED487859B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>slack</string>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>$query = "{query}";
$position = 'input';
require_once 'slack.php';</string>
				<key>subtext</key>
				<string>Open in Slack</string>
				<key>title</key>
				<string>Slack</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>slack</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
	if q is not "/refresh" and q does not start with "/token" then
		tell application "Slack"
			Activate
			delay 1
			tell application "System Events"
				Keystroke "t" using command down
				Keystroke q
				Keystroke return
			end tell
		end tell
	end if
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>31838B4E-9584-4A61-8BD9-6191F02E1358</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>31838B4E-9584-4A61-8BD9-6191F02E1358</key>
		<dict>
			<key>ypos</key>
			<real>80</real>
		</dict>
		<key>4AE536BC-8D80-4362-B0E9-1B4ED487859B</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>slack</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
